body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#graph-container {
  width: 75%;
  height: 100%;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  position: relative;  /* Add this line */
}

.background {
  cursor: default;
  pointer-events: all;
  fill: transparent;
}

#graph-inner-container {
  width: 100%;
  height: 100%;
}

#info-panel {
  width: 25%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.node {
  fill: #ccc;
  stroke: #999;
  stroke-width: 1px;
}

.node.selected-node {
  fill: #4285f4;
  stroke: #2a56c6;
  stroke-width: 2px;
}

.node.selected-neighbor {
  fill: #8ab4f8;
  stroke: #4285f4;
  stroke-width: 2px;
}

.node.hovered-node {
  fill: #ff7f0e;
  stroke: #e65c00;
  stroke-width: 2px;
}

.node.hovered-neighbor {
  fill: #ffd1a3;
  stroke: #ff7f0e;
  stroke-width: 2px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.link.selected-edge {
  stroke: #4285f4;
  stroke-opacity: 1;
  /* stroke-width: 2px; */
}

.link.hovered-edge {
  stroke: #ff7f0e;
  stroke-opacity: 1;
  /* stroke-width: 2px; */
}

.node.selected-distant-node,
.node.selected-distant-neighbor {
    fill: #c6d9fd;
    stroke: #8ab4f8;
    stroke-width: 1.5px;
}

.node.hovered-distant-node,
.node.hovered-distant-neighbor {
    fill: #ffe8cc;
    stroke: #ffd1a3;
    stroke-width: 1.5px;
}

.link.selected-distant-edge {
    stroke: #c6d9fd;
    stroke-opacity: 0.8;
    /* stroke-width: 1.5px; */
}

.link.hovered-distant-edge {
    stroke: #ffe8cc;
    stroke-opacity: 0.8;
    /* stroke-width: 1.5px; */
}